<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" verbose="2" guice-stage="DEVELOPMENT" name="FFCRM">
   <!-- <test name="Create Account Cucumber Tests">
        <packages>
            <package name="com.ffcrm.tests.runner.*"/>
        </packages>
    </test>-->

    <listeners>
      <listener class-name="utils.CustomReporter">
      </listener>
    </listeners>
    <test name="AccountsModule">
         <!--<groups>
             <run>
                 <include name="Smoke Test"></include>
             </run>
         </groups>-->
         <classes>
             <class name="com.ffcrm.tests.AccountsModule">
                 <methods>
                     <include name="createAccount"></include>
                     <include name="editAccount"></include>
                     <include name="deleteAccount"></include>
                 </methods>
             </class>
         </classes>
     </test>
    <!--  <test name="CampaignsModule">
        <groups>
            <run>
                <include name="Smoke Test"></include>
            </run>
        </groups>
        <classes>
            <class name="com.ffcrm.tests.CampaignsModule">
                <methods>
                    <include name="createCampaign"></include>
                    <include name="editCampaign"></include>
                    <include name="deleteCampaign"></include>
                </methods>
            </class>
        </classes>
    </test>

   <test name="LeadsModule">
       <groups>
           <run>
               <include name="Smoke Test"></include>
           </run>
       </groups>
       <classes>
           <class name="com.ffcrm.tests.LeadsModule">
               <methods>
                   <include name="createLead"></include>
                   <include name="editLead"></include>
                   <include name="deleteLead"></include>
               </methods>
           </class>
       </classes>
   </test>-->
</suite>
